<!DOCTYPE html>
<html lang="en">

<head>
  <title>MY PROFIL</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/static/images/télécharger.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/static/style/profil.css" />
  <link rel="stylesheet" type="text/css" href="/static/style/style.css" />
  <script src="/static/script/script.js" defer></script>
  <script src="/static/script/topic.js" defer></script>

</head>

<body class="body">
  <header class="header">
    <nav class="header__content">
        <div class="header__buttons">
            <a href="/landingPage" class="header__home">
                <img src="/static/images/télécharger.png" title="Home Page" alt="koko goat"/>
            </a>

            <button class="header__theme-button" title="Toggle Theme">
                <svg class="header__theme-button-moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     fill="var(--text-dark)" viewBox="0 0 16 16">
                    <path
                            d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"/>
                </svg>
                <svg class="header__theme-button-sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                     fill="var(--text-dark)" viewBox="0 0 16 16">
                    <path
                            d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
                </svg>
            </button>
        </div>

        <div class="header__search">
            <input type="text" placeholder="Search"/>
        </div>

        <div class="header__buttons header__buttons--mobile">

            <a href="/search" title="search">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                          d="M21.669 21.6543C21.8625 21.4622 21.863 21.1494 21.6703 20.9566L17.3049 16.5913C18.7912 14.9327 19.7017 12.7525 19.7017 10.3508C19.7017 5.18819 15.5135 1 10.3508 1C5.18819 1 1 5.18819 1 10.3508C1 15.5135 5.18819 19.7017 10.3508 19.7017C12.7624 19.7017 14.9475 18.7813 16.606 17.2852L20.9739 21.653C21.1657 21.8449 21.4765 21.8454 21.669 21.6543ZM1.9843 10.3508C1.9843 5.7394 5.7394 1.9843 10.3508 1.9843C14.9623 1.9843 18.7174 5.7394 18.7174 10.3508C18.7174 14.9623 14.9623 18.7174 10.3508 18.7174C5.7394 18.7174 1.9843 14.9623 1.9843 10.3508Z"
                          fill="var(--text-dark)" stroke="var(--text-dark)" stroke-linecap="round"
                          stroke-linejoin="round"/>
                </svg>
            </a>
            <a href="/notification" title="Notifications">
                <svg viewBox="0 0 744.09448819 1052.3622047" width="22" xmlns="http://www.w3.org/2000/svg"
                     fill="var(--text-dark)">
                    <path
                            d="m250.64 844.58c-17.693-8.6006-25.564-16.689-28.819-29.615-2.9719-11.803-6.2471-14.002-21.033-14.122-4.1127-0.03355-12.571-1.6071-18.796-3.4968-19.155-5.8146-74.864-31.697-95.436-44.339-10.733-6.596-20.583-11.993-21.89-11.993s-11.202-8.6978-21.991-19.328c-17.633-17.374-19.824-20.587-21.675-31.78-4.626-27.98 2.5527-43.021 31.693-66.408 17.515-14.056 18.779-15.308 27.315-27.052 17.753-24.423 22.067-33.879 27.29-59.821 2.898-14.395 5.931-27.854 6.74-29.911s1.237-6.7121 0.95116-10.346 0.75201-7.3933 2.3062-8.3538c1.5761-0.9741 2.6122-6.8707 2.3427-13.333-0.2657-6.3726 0.12899-13.269 0.87711-15.325s1.9029-19.442 2.5662-38.635c0.88052-25.478 3.326-45.322 9.0613-73.531 15.284-75.173 30.994-131.15 42.763-152.38 1.7992-3.2451 3.3111-6.4904 3.3596-7.2116s5.1139-9.6945 11.256-19.94c14.645-24.429 54.88-64.312 81.657-80.943 15.234-9.4616 20.409-14.09 21.491-19.22 2.1263-10.084 17.482-25.61 31.14-31.486 24.801-10.669 58.551-11.155 75.783-1.0911 9.9815 5.8295 19.283 19.239 19.326 27.863 0.02739 5.4227 2.3768 7.6118 14.332 13.354 18.129 8.7074 65.205 43.557 81.854 60.594 19.564 20.021 38.174 49.641 54.711 87.076 2.4223 5.4836 4.5228 10.531 4.6678 11.217s0.97394 2.3679 1.8423 3.7388c2.4333 3.8416 18.427 45.845 22.778 59.821 5.7161 18.36 17.953 74.48 25.546 117.15 3.6588 20.564 7.262 39.071 8.0072 41.127s1.1006 5.7686 0.78991 8.2494 0.76405 6.1119 2.3884 8.0691 2.3159 5.2193 1.537 7.2492-0.28994 4.3869 1.0867 5.2377 2.2769 3.4104 2.0006 5.6881 0.18776 5.8236 1.0312 7.88 5.5734 19.428 10.511 38.604c13.455 52.252 27.891 80.599 58.753 115.37 19.323 21.767 24.692 33.052 24.662 51.83-0.02874 18.166-9.2503 35.966-25.799 49.799-28.774 24.052-102.68 46.876-184.8 57.073-17.822 2.2129-34.647 5.0441-37.388 6.2917s-27.418 3.4762-54.836 4.9526c-118.72 6.3927-106.27 4.9968-115.37 12.93-18.334 15.971-44.373 19.295-66.583 8.4979zm230.56-69.889c22.62-2.0375 51.222-4.9879 63.56-6.5565 25.335-3.221 72.226-13.773 79.762-17.949 2.7418-1.5194 5.546-2.8579 6.2314-2.9743 5.7187-0.97135 38.585-20.35 48.253-28.451 16.666-13.965 19.979-13.534 17.8 2.3146-2.0046 14.575 0.46257 15.83 9.6529 4.9077 9.1933-10.926 12.176-23.619 7.8227-33.287-3.5933-7.9795-12.148-18.98-14.759-18.98-2.4941 0-1.6203 9.5831 1.0227 11.217 3.1051 1.919 3.2743 10.439 0.24452 12.312-1.2364 0.76417-8.2468-2.6542-15.578-7.5963-19.701-13.28-37.651-21.786-66.92-31.712-27.225-9.2327-71.746-19.115-86.116-19.115-4.5691 0-9.0417-1.1879-9.939-2.6398s-4.048-2.3277-7.0016-1.9463-6.6215-0.08624-8.1509-1.0392c-4.2215-2.6304-138.82-6.5034-162.97-4.6896-19.877 1.4926-21.141 1.9238-20.444 6.9783 0.40833 2.9631-0.38393 6.0836-1.7606 6.9344s-1.8656 3.2078-1.0867 5.2377 0.03676 5.353-1.6493 7.3846-2.4777 5.942-1.7591 8.6897 0.23642 5.6572-1.0714 6.4655-2.1518 3.3331-1.8755 5.6108-0.16341 5.8236-0.97711 7.88c-2.3843 6.0255-9.2569 42.359-9.2569 48.938 0 3.6343 5.4482 12.636 13.709 22.651 7.54 9.1411 13.709 18.824 13.709 21.517 0 4.7678 1.4288 4.8534 54.213 3.2502 29.817-0.90564 72.72-3.3137 95.34-5.3511zm-258.36-6.8815c2.2757-9.0611 22.055-26.567 35.42-31.349l12.243-4.3803 9.3118-50.992c5.1215-28.046 9.3443-51.885 9.384-52.976 0.07306-2.0088-47.876 0.08283-54.764 2.389-2.0564 0.68847-9.6872 1.6323-16.957 2.0974s-14.561 1.8698-16.202 3.1216-9.7131 3.6882-17.938 5.4142c-39.063 8.1972-82.692 26.483-96.23 40.331-11.306 11.565-10.04 21.837 4.6283 37.55 25.911 27.757 64.501 47.199 102.82 51.801 26.317 3.1607 26.749 3.1148 28.286-3.0072zm-165.42-76.411c0.05-11.12 8.6018-22.088 26.467-33.946 16.893-11.213 29.058-16.053 62.189-24.741 13.636-3.5762 26.476-7.2077 28.532-8.0701s4.7474-1.3342 5.9802-1.0483 4.0368-0.26894 6.2314-1.2328 5.1117-1.925 6.4826-2.1358 4.175-1.0609 6.2314-1.8889c11.918-4.799 63.032-10.757 125.24-14.599 35.353-2.1832 60.22-2.1851 102.19-0.0077 84.221 4.3688 147.06 10.801 153.2 15.681 1.6536 1.3155 4.0998 1.7161 5.436 0.89029s3.0554-0.48874 3.8205 0.74914 5.6096 3.0143 10.766 3.9477 19.248 5.0572 31.316 9.164 23.733 7.1157 25.923 6.6864c7.5057-1.4715-33.253-19.421-59.257-26.096-14.297-3.67-28.065-8.4389-30.595-10.597-4.4257-3.776-4.3785-3.9869 1.2463-5.5671 12.426-3.4908 27.87-1.8523 50.317 5.3383 34.904 11.181 35.94 10.666 25.714-12.785-7.8106-17.911-10.825-25.351-11.485-28.342-0.30212-1.3709-1.7129-3.8946-3.1351-5.6083s-1.7503-3.1157-0.72912-3.1157 0.58007-1.5382-0.98022-3.4183c-6.2551-7.5369-15.214-48.505-21.6-98.777-2.177-17.136-6.01-41.813-8.5177-54.836s-5.3532-28.727-6.3233-34.896c-2.302-14.64-25.823-92.552-29.158-96.587-1.4168-1.7136-1.9621-3.1157-1.2119-3.1157 2.3111 0-32.222-67.902-41.684-81.962-4.9065-7.291-8.9209-14.265-8.9209-15.498s-1.1216-2.2421-2.4926-2.2421-2.4926-1.4933-2.4926-3.3185c0-3.7801-35.583-36.562-39.686-36.562-1.4784 0-2.688-1.1217-2.688-2.4926s-1.0339-2.4926-2.2975-2.4926-9.6624-4.9387-18.664-10.975-23.845-13.322-32.984-16.191-21.68-8.1828-27.867-11.809c-10.441-6.1188-10.919-6.8338-6.653-9.9531 2.5278-1.8484 10.007-4.0785 16.62-4.9558s12.024-2.5722 12.024-3.7665-1.1494-2.1714-2.5542-2.1714-3.6204-2.8041-4.9234-6.2314-4.0794-6.2314-6.1697-6.2314-3.8005-1.0287-3.8005-2.286c0-3.8111-22.929-7.3405-35.154-5.4111-14.018 2.2124-32.543 12.711-39.386 22.32-6.0842 8.5445-4.8299 10.302 7.3514 10.302 15.772 0 20.2 12.475 5.6993 16.057-27.836 6.8748-77.858 41.508-101.76 70.453-42.059 50.935-58.262 102.93-74.795 240.02-6.5131 54.005-15.683 114.14-17.991 117.98-0.68593 1.1415-1.56 7.0456-1.9424 13.12s-2.0787 12.712-3.7696 14.749-2.2389 3.7045-1.2178 3.7045 0.55833 1.5644-1.0285 3.4765-2.6678 4.4358-2.4021 5.6083-0.43126 4.3751-1.5489 7.1169c-6.1634 15.12-16.207 41.42-16.207 42.438 0 2.2015 17.002 1.1965 29.823-1.7628 11.751-2.7125 13.163-2.5363 17.938 2.2386l5.1828 5.1828-5.9082 3.7099c-3.2495 2.0404-13.76 5.0843-23.356 6.7642-45.714 8.0024-72.215 20.502-85.259 40.212-7.8573 11.873-6.5512 21.922 4.6092 35.461 8.7539 10.62 12 9.102 12.067-5.6425z"/>
                </svg>
            </a>
            <a href="/message" title="Messages">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M5.81038 19.7478C5.83176 19.4539 5.70787 19.1681 5.47873 18.9827C3.2792 17.2037 1.9 14.5525 1.9 11.5868C1.9 6.27627 6.38748 1.9 12.0098 1.9C17.6196 1.9 22.1078 6.27565 22.1078 11.5868C22.1078 16.8966 17.6092 21.2735 11.998 21.2735C11.0656 21.2735 10.1798 21.1544 9.32697 20.9277C9.15685 20.8825 8.97721 20.8882 8.81028 20.944L5.64643 22.0022L5.81038 19.7478Z"
                            stroke="var(--text-dark)" stroke-width="1.8" stroke-linejoin="round"/>
                    <path
                            d="M10.1498 8.7952C10.2222 8.80563 10.2825 8.81606 10.3548 8.82649C11.428 9.05591 12.5252 10.0362 13.3693 10.6202C13.8396 10.9539 14.2375 10.9226 14.7078 10.6097C15.7086 9.92147 16.7456 9.26448 17.7705 8.58664C18.0478 8.39893 18.3372 8.20079 18.6748 8.45107C19.0486 8.7222 18.8195 9.0142 18.6266 9.28534C17.6137 10.6827 16.6129 12.0801 15.588 13.4671C14.8886 14.4265 13.8999 14.5621 12.8388 13.8842C12.1032 13.4045 11.3436 12.9561 10.6201 12.4556C10.1378 12.1219 9.73984 12.1636 9.28163 12.4764C8.26876 13.1647 7.24382 13.8217 6.21889 14.4995C5.94156 14.6872 5.65216 14.8854 5.31454 14.6247C4.97691 14.3744 5.15778 14.0928 5.33865 13.8321C6.3877 12.393 7.42469 10.9539 8.47374 9.51476C8.82343 9.02463 9.47456 8.73263 10.1498 8.7952Z"
                            fill="var(--text-dark)"/>
                </svg>
            </a>
        </div>

        <div class="header__buttons header__buttons--desktop">
            <a href="/home" title="Home">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M2.45307 11.751L11.9773 2.02175L21.5015 11.751C21.7906 12.0463 21.9545 12.4468 21.9545 12.8711V20.4556C21.9545 20.7747 21.7037 21 21.4427 21H15.964C15.713 21 15.4721 20.7849 15.4721 20.476V15.8886C15.4721 13.9497 13.9267 12.34 11.9773 12.34C10.0279 12.34 8.48244 13.9497 8.48244 15.8886V20.476C8.48244 20.7849 8.24157 21 7.99053 21H2.51187C2.25085 21 2 20.7747 2 20.4556V12.8711C2 12.4468 2.16397 12.0463 2.45307 11.751Z"
                            stroke="var(--text-dark)" stroke-width="2"/>
                </svg>
            </a>
            <a href="/createTopic" title="create topic">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="3" y="3" width="18" height="18" rx="5" stroke="var(--text-dark)" stroke-width="1.8"/>
                    <line x1="12.1" y1="6.9" x2="12.1" y2="17.1" stroke="var(--text-dark)" stroke-width="1.8"
                          stroke-linecap="round"/>
                    <line x1="6.9" y1="11.8" x2="17.1" y2="11.8" stroke="var(--text-dark)" stroke-width="1.8"
                          stroke-linecap="round"/>
                </svg>
            </a>
            <a href="/notification" title="Notifications">
                <svg viewBox="0 0 744.09448819 1052.3622047" width="22" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="m250.64 844.58c-17.693-8.6006-25.564-16.689-28.819-29.615-2.9719-11.803-6.2471-14.002-21.033-14.122-4.1127-0.03355-12.571-1.6071-18.796-3.4968-19.155-5.8146-74.864-31.697-95.436-44.339-10.733-6.596-20.583-11.993-21.89-11.993s-11.202-8.6978-21.991-19.328c-17.633-17.374-19.824-20.587-21.675-31.78-4.626-27.98 2.5527-43.021 31.693-66.408 17.515-14.056 18.779-15.308 27.315-27.052 17.753-24.423 22.067-33.879 27.29-59.821 2.898-14.395 5.931-27.854 6.74-29.911s1.237-6.7121 0.95116-10.346 0.75201-7.3933 2.3062-8.3538c1.5761-0.9741 2.6122-6.8707 2.3427-13.333-0.2657-6.3726 0.12899-13.269 0.87711-15.325s1.9029-19.442 2.5662-38.635c0.88052-25.478 3.326-45.322 9.0613-73.531 15.284-75.173 30.994-131.15 42.763-152.38 1.7992-3.2451 3.3111-6.4904 3.3596-7.2116s5.1139-9.6945 11.256-19.94c14.645-24.429 54.88-64.312 81.657-80.943 15.234-9.4616 20.409-14.09 21.491-19.22 2.1263-10.084 17.482-25.61 31.14-31.486 24.801-10.669 58.551-11.155 75.783-1.0911 9.9815 5.8295 19.283 19.239 19.326 27.863 0.02739 5.4227 2.3768 7.6118 14.332 13.354 18.129 8.7074 65.205 43.557 81.854 60.594 19.564 20.021 38.174 49.641 54.711 87.076 2.4223 5.4836 4.5228 10.531 4.6678 11.217s0.97394 2.3679 1.8423 3.7388c2.4333 3.8416 18.427 45.845 22.778 59.821 5.7161 18.36 17.953 74.48 25.546 117.15 3.6588 20.564 7.262 39.071 8.0072 41.127s1.1006 5.7686 0.78991 8.2494 0.76405 6.1119 2.3884 8.0691 2.3159 5.2193 1.537 7.2492-0.28994 4.3869 1.0867 5.2377 2.2769 3.4104 2.0006 5.6881 0.18776 5.8236 1.0312 7.88 5.5734 19.428 10.511 38.604c13.455 52.252 27.891 80.599 58.753 115.37 19.323 21.767 24.692 33.052 24.662 51.83-0.02874 18.166-9.2503 35.966-25.799 49.799-28.774 24.052-102.68 46.876-184.8 57.073-17.822 2.2129-34.647 5.0441-37.388 6.2917s-27.418 3.4762-54.836 4.9526c-118.72 6.3927-106.27 4.9968-115.37 12.93-18.334 15.971-44.373 19.295-66.583 8.4979zm230.56-69.889c22.62-2.0375 51.222-4.9879 63.56-6.5565 25.335-3.221 72.226-13.773 79.762-17.949 2.7418-1.5194 5.546-2.8579 6.2314-2.9743 5.7187-0.97135 38.585-20.35 48.253-28.451 16.666-13.965 19.979-13.534 17.8 2.3146-2.0046 14.575 0.46257 15.83 9.6529 4.9077 9.1933-10.926 12.176-23.619 7.8227-33.287-3.5933-7.9795-12.148-18.98-14.759-18.98-2.4941 0-1.6203 9.5831 1.0227 11.217 3.1051 1.919 3.2743 10.439 0.24452 12.312-1.2364 0.76417-8.2468-2.6542-15.578-7.5963-19.701-13.28-37.651-21.786-66.92-31.712-27.225-9.2327-71.746-19.115-86.116-19.115-4.5691 0-9.0417-1.1879-9.939-2.6398s-4.048-2.3277-7.0016-1.9463-6.6215-0.08624-8.1509-1.0392c-4.2215-2.6304-138.82-6.5034-162.97-4.6896-19.877 1.4926-21.141 1.9238-20.444 6.9783 0.40833 2.9631-0.38393 6.0836-1.7606 6.9344s-1.8656 3.2078-1.0867 5.2377 0.03676 5.353-1.6493 7.3846-2.4777 5.942-1.7591 8.6897 0.23642 5.6572-1.0714 6.4655-2.1518 3.3331-1.8755 5.6108-0.16341 5.8236-0.97711 7.88c-2.3843 6.0255-9.2569 42.359-9.2569 48.938 0 3.6343 5.4482 12.636 13.709 22.651 7.54 9.1411 13.709 18.824 13.709 21.517 0 4.7678 1.4288 4.8534 54.213 3.2502 29.817-0.90564 72.72-3.3137 95.34-5.3511zm-258.36-6.8815c2.2757-9.0611 22.055-26.567 35.42-31.349l12.243-4.3803 9.3118-50.992c5.1215-28.046 9.3443-51.885 9.384-52.976 0.07306-2.0088-47.876 0.08283-54.764 2.389-2.0564 0.68847-9.6872 1.6323-16.957 2.0974s-14.561 1.8698-16.202 3.1216-9.7131 3.6882-17.938 5.4142c-39.063 8.1972-82.692 26.483-96.23 40.331-11.306 11.565-10.04 21.837 4.6283 37.55 25.911 27.757 64.501 47.199 102.82 51.801 26.317 3.1607 26.749 3.1148 28.286-3.0072zm-165.42-76.411c0.05-11.12 8.6018-22.088 26.467-33.946 16.893-11.213 29.058-16.053 62.189-24.741 13.636-3.5762 26.476-7.2077 28.532-8.0701s4.7474-1.3342 5.9802-1.0483 4.0368-0.26894 6.2314-1.2328 5.1117-1.925 6.4826-2.1358 4.175-1.0609 6.2314-1.8889c11.918-4.799 63.032-10.757 125.24-14.599 35.353-2.1832 60.22-2.1851 102.19-0.0077 84.221 4.3688 147.06 10.801 153.2 15.681 1.6536 1.3155 4.0998 1.7161 5.436 0.89029s3.0554-0.48874 3.8205 0.74914 5.6096 3.0143 10.766 3.9477 19.248 5.0572 31.316 9.164 23.733 7.1157 25.923 6.6864c7.5057-1.4715-33.253-19.421-59.257-26.096-14.297-3.67-28.065-8.4389-30.595-10.597-4.4257-3.776-4.3785-3.9869 1.2463-5.5671 12.426-3.4908 27.87-1.8523 50.317 5.3383 34.904 11.181 35.94 10.666 25.714-12.785-7.8106-17.911-10.825-25.351-11.485-28.342-0.30212-1.3709-1.7129-3.8946-3.1351-5.6083s-1.7503-3.1157-0.72912-3.1157 0.58007-1.5382-0.98022-3.4183c-6.2551-7.5369-15.214-48.505-21.6-98.777-2.177-17.136-6.01-41.813-8.5177-54.836s-5.3532-28.727-6.3233-34.896c-2.302-14.64-25.823-92.552-29.158-96.587-1.4168-1.7136-1.9621-3.1157-1.2119-3.1157 2.3111 0-32.222-67.902-41.684-81.962-4.9065-7.291-8.9209-14.265-8.9209-15.498s-1.1216-2.2421-2.4926-2.2421-2.4926-1.4933-2.4926-3.3185c0-3.7801-35.583-36.562-39.686-36.562-1.4784 0-2.688-1.1217-2.688-2.4926s-1.0339-2.4926-2.2975-2.4926-9.6624-4.9387-18.664-10.975-23.845-13.322-32.984-16.191-21.68-8.1828-27.867-11.809c-10.441-6.1188-10.919-6.8338-6.653-9.9531 2.5278-1.8484 10.007-4.0785 16.62-4.9558s12.024-2.5722 12.024-3.7665-1.1494-2.1714-2.5542-2.1714-3.6204-2.8041-4.9234-6.2314-4.0794-6.2314-6.1697-6.2314-3.8005-1.0287-3.8005-2.286c0-3.8111-22.929-7.3405-35.154-5.4111-14.018 2.2124-32.543 12.711-39.386 22.32-6.0842 8.5445-4.8299 10.302 7.3514 10.302 15.772 0 20.2 12.475 5.6993 16.057-27.836 6.8748-77.858 41.508-101.76 70.453-42.059 50.935-58.262 102.93-74.795 240.02-6.5131 54.005-15.683 114.14-17.991 117.98-0.68593 1.1415-1.56 7.0456-1.9424 13.12s-2.0787 12.712-3.7696 14.749-2.2389 3.7045-1.2178 3.7045 0.55833 1.5644-1.0285 3.4765-2.6678 4.4358-2.4021 5.6083-0.43126 4.3751-1.5489 7.1169c-6.1634 15.12-16.207 41.42-16.207 42.438 0 2.2015 17.002 1.1965 29.823-1.7628 11.751-2.7125 13.163-2.5363 17.938 2.2386l5.1828 5.1828-5.9082 3.7099c-3.2495 2.0404-13.76 5.0843-23.356 6.7642-45.714 8.0024-72.215 20.502-85.259 40.212-7.8573 11.873-6.5512 21.922 4.6092 35.461 8.7539 10.62 12 9.102 12.067-5.6425z"
                            fill="var(--text-dark)"/>
                </svg>
            </a>

            <a href="/message" title="message">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                            d="M5.81038 19.7478C5.83176 19.4539 5.70787 19.1681 5.47873 18.9827C3.2792 17.2037 1.9 14.5525 1.9 11.5868C1.9 6.27627 6.38748 1.9 12.0098 1.9C17.6196 1.9 22.1078 6.27565 22.1078 11.5868C22.1078 16.8966 17.6092 21.2735 11.998 21.2735C11.0656 21.2735 10.1798 21.1544 9.32697 20.9277C9.15685 20.8825 8.97721 20.8882 8.81028 20.944L5.64643 22.0022L5.81038 19.7478Z"
                            stroke="var(--text-dark)" stroke-width="1.8" stroke-linejoin="round"/>
                    <path
                            d="M10.1498 8.7952C10.2222 8.80563 10.2825 8.81606 10.3548 8.82649C11.428 9.05591 12.5252 10.0362 13.3693 10.6202C13.8396 10.9539 14.2375 10.9226 14.7078 10.6097C15.7086 9.92147 16.7456 9.26448 17.7705 8.58664C18.0478 8.39893 18.3372 8.20079 18.6748 8.45107C19.0486 8.7222 18.8195 9.0142 18.6266 9.28534C17.6137 10.6827 16.6129 12.0801 15.588 13.4671C14.8886 14.4265 13.8999 14.5621 12.8388 13.8842C12.1032 13.4045 11.3436 12.9561 10.6201 12.4556C10.1378 12.1219 9.73984 12.1636 9.28163 12.4764C8.26876 13.1647 7.24382 13.8217 6.21889 14.4995C5.94156 14.6872 5.65216 14.8854 5.31454 14.6247C4.97691 14.3744 5.15778 14.0928 5.33865 13.8321C6.3877 12.393 7.42469 10.9539 8.47374 9.51476C8.82343 9.02463 9.47456 8.73263 10.1498 8.7952Z"
                            fill="var(--text-dark)"/>
                </svg>
            </a>
              <% if (logged) { %>
            <a href="/user/<%= user.user_id %>">
                <button class="profile-button" title="My Profil">
                    <div class="profile-button__border"></div>
                    <div class="profile-button__picture">
                        <img src="<%= user.profile_pic %>" alt="<%= user.username %>"/>
                    </div>
                </button>
            </a>
       <% }else{ %>
            <a href="/login" title="Login">
                <button class="profile-button" title="Login">
                    <div class="profile-button__border"></div>
                    <div class="profile-button__picture">
                        <img src="/static/default-user.png" alt="User Picture"/>
                    </div>
                </button>
            </a>
        <% } %>
        </div>

    </nav>
</header>

  <main class="main_profil">
    <div class="profil_informations">
      <div class="picture">
        <div class="profil_user">
          <p class="profil_user__name">Sabrina@37</p>
        </div>
        <div class="profil_informations__picture">
          <img src="../assets/default-user.png" alt="User Picture" />
        </div>
      </div>
      <div class="contains_information">
        <div class="profil_informations__text">

          <div class="profil_publication">
            <p class="profil_publication__text">Posts</p>
            <p class="profil_publication__number">12</p>
          </div>
          <div class="profil_followers">
            <p class="profil_followers__text">Kokowers</p>
            <p class="profil_followers__number">12</p>
          </div>
          <div class="profil_following">
            <p class="profil_following__text">Kokowing</p>
            <p class="profil_following__number">12</p>
          </div>
        </div>
        <div class="profil_biogragraphy">
          <p class="profil_biogragraphy__text" style="font-weight: 800;">Biographie</p>
          <p class="profil_biogragraphy__content">Movie enthusiast exploring new genres</p>
        </div>
      </div>
    </div>

    <section class="content-container">
      <div class="content">

        <div class="posts">
          <article class="post">
            <div class="post__header">
              <div class="post__profile">
                <span>
                  RECOMMANDATION DE FILMS.
                </span>
              </div>

              <button class="post__more-options">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="6.5" cy="11.5" r="1.5" fill="var(--text-dark)" />
                  <circle cx="12" cy="11.5" r="1.5" fill="var(--text-dark)" />
                  <circle cx="17.5" cy="11.5" r="1.5" fill="var(--text-dark)" />
                </svg>
              </button>
            </div>

            <div class="post__content">

              <div class="post-text">
                <p>
                  j'ai découvert ce film il y a quelques jours et je suis tombé sous le charme.
                  je vous le recommande fortement.
                  Beaucoup de romance et de suspens.
                  Je voudrais savoir si vous l'avez déjà vu et ce que vous en pensez.
                  Et si vous pouvez m'en proposer d'autres. :\(^_^)/
                </p>
              </div>
              <div class="post-category">
                <a href="#" class="category__name">Action</a>
                <a href="#" class="category__name">Suspense</a>
                <a href="" class="category__name">Romance</a>
              </div>
            </div>

            <div class="post__footer">
              <div class="post__buttons">
                <button class="post__button" title="like">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M11.4995 21.2609C11.1062 21.2609 10.7307 21.1362 10.4133 20.9001C8.2588 19.3012 3.10938 15.3239 1.81755 12.9143C0.127895 9.76543 1.14258 5.72131 4.07489 3.89968C5.02253 3.31177 6.09533 3 7.18601 3C8.81755 3 10.3508 3.66808 11.4995 4.85726C12.6483 3.66808 14.1815 3 15.8131 3C16.9038 3 17.9766 3.31177 18.9242 3.89968C21.8565 5.72131 22.8712 9.76543 21.186 12.9143C19.8942 15.3239 14.7448 19.3012 12.5902 20.9001C12.2684 21.1362 11.8929 21.2609 11.4995 21.2609ZM7.18601 4.33616C6.34565 4.33616 5.5187 4.57667 4.78562 5.03096C2.43888 6.49183 1.63428 9.74316 2.99763 12.2819C4.19558 14.5177 9.58639 18.6242 11.209 19.8267C11.3789 19.9514 11.6158 19.9514 11.7856 19.8267C13.4082 18.6197 18.799 14.5133 19.997 12.2819C21.3603 9.74316 20.5557 6.48738 18.209 5.03096C17.4804 4.57667 16.6534 4.33616 15.8131 4.33616C14.3425 4.33616 12.9657 5.04878 12.0359 6.28696L11.4995 7.00848L10.9631 6.28696C10.0334 5.04878 8.6611 4.33616 7.18601 4.33616Z"
                      fill="var(--text-dark)" stroke="var(--text-dark)" stroke-width="0.6" />
                  </svg>
                </button>
                <button class="post__button comment_btn" title="comment">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M21.2959 20.8165L20.2351 16.8602C20.1743 16.6385 20.2047 16.3994 20.309 16.1907C21.2351 14.3342 21.5438 12.117 20.9742 9.80402C20.2003 6.67374 17.757 4.16081 14.6354 3.33042C13.7833 3.10869 12.9442 3 12.1312 3C6.29665 3 1.74035 8.47365 3.31418 14.5647C4.04458 17.3819 7.05314 20.2992 9.88344 20.9861C10.6486 21.173 11.4008 21.26 12.1312 21.26C13.7006 21.26 15.1701 20.8557 16.4614 20.1601C16.6049 20.0818 16.7657 20.0383 16.9222 20.0383C17.0005 20.0383 17.0787 20.047 17.157 20.0688L21.009 21.0991C21.0307 21.1035 21.0525 21.1078 21.0699 21.1078C21.2177 21.1078 21.3351 20.9687 21.2959 20.8165ZM19.0178 17.1863L19.6178 19.4253L17.4831 18.8558C17.3005 18.8079 17.1135 18.7819 16.9222 18.7819C16.557 18.7819 16.1875 18.8775 15.8571 19.0558C14.6963 19.6818 13.4441 19.9992 12.1312 19.9992C11.4834 19.9992 10.8269 19.9166 10.1791 19.7601C7.78354 19.1775 5.14453 16.6037 4.53586 14.2473C3.90111 11.7865 4.40109 9.26057 5.90536 7.31719C7.40964 5.3738 9.6791 4.26081 12.1312 4.26081C12.8529 4.26081 13.5876 4.35646 14.3137 4.5521C16.9961 5.26511 19.0786 7.39544 19.7525 10.1084C20.2264 12.0213 20.0308 13.9299 19.183 15.6298C18.9395 16.1168 18.8787 16.6689 19.0178 17.1863Z"
                      fill="var(--text-dark)" stroke="var(--text-dark)" stroke-width="0.7" />
                  </svg>
                </button>

                <div class="post__indicators"></div>

                <button class="post__button post__button--align-right">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M19.875 2H4.125C3.50625 2 3 2.44939 3 3.00481V22.4648C3 23.0202 3.36563 23.1616 3.82125 22.7728L11.5444 16.1986C11.7244 16.0471 12.0225 16.0471 12.2025 16.1936L20.1731 22.7879C20.6287 23.1666 21 23.0202 21 22.4648V3.00481C21 2.44939 20.4994 2 19.875 2ZM19.3125 20.0209L13.3444 15.0827C12.9281 14.7394 12.405 14.5677 11.8763 14.5677C11.3363 14.5677 10.8019 14.7444 10.3856 15.0979L4.6875 19.9502V3.51479H19.3125V20.0209Z"
                      fill="var(--text-dark)" stroke="var(--text-dark)" stroke-width="0.7" />
                  </svg>
                </button>
              </div>

              <div class="post__infos">
                <div class="post__likes">
                  <span>Liked by
                    <a href="#">4700 kokos</a></span>
                </div>

                <div class="post__description">
                  <a href="#" target="_blank" class="post__avatar">
                    <img src="../assets/default-user.png" alt="User Picture" />
                  </a>
                  <a href="#" target="_blank" class="post__user">nicolas@68</a>
                </div>

                <span class="post__date-time">14 hours ago</span>
              </div>
            </div>
            <!--SECTION COMMENTAIRE-->
            <!--SECTION COMMENTAIRE-->
            <div class="comment_section" style="display: none;">
              <h1 class="hidden_comment">X</h1>

              <div class="allComments">

                  <div class="comment_user">
                    <div class="img_user">
                      <img src="../assets/default-user.png" alt="User Picture" />
                    </div>
                    <div class="comment_shared">
                      <div class="comment_info_user">
                        <div class="comment_user_name">
                          <a href="#">marin@68</a>
                        </div>
                      </div>
                      <div class="commnent_text">
                        <p> je l'ai vu ce film mais j'ai pas vraiment aimé le déroulé trop simple à mon gout
                          mais je suis content que tu l'ai apprécié.
                          je te conseille de regarder "The Notebook" un film romantique 
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt assumenda commodi ad? In, eligendi numquam quae omnis est impedit minus perspiciatis magnam. Vitae itaque consequatur mollitia, porro et eum
                        </p>
                        <div class="reply_comment">
                          <button class="reply_btn">Reply</button>
                      </div>

                      </div>
  
                      <div class="comment_time">
                        <span>7 hours ago</span>
                      </div>
                     
                    </div>
  
                    </div>
                    <div class="comment_user">
                      <div class="img_user">
                        <img src="../assets/default-user.png" alt="User Picture" />
                      </div>
                      <div class="comment_shared">
                        <div class="comment_info_user">
                          <div class="comment_user_name">
                            <a href="#">nicolas@68</a>
                          </div>
                        </div>
                        <div class="commnent_text">
                          <p> je l'ai vu ce film mais j'ai pas vraiment aimé le déroulé trop simple à mon gout
                            mais je suis content que tu l'ai apprécié.
                            je te conseille de regarder "The Notebook" un film romantique 
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt assumenda commodi ad? In, eligendi numquam quae omnis est impedit minus perspiciatis magnam. Vitae itaque consequatur mollitia, porro et eum
                          </p>
                          <div class="reply_comment">
                            <button class="reply_btn">Reply</button>
                        </div>
  
                        </div>
    
                        <div class="comment_time">
                          <span>17 hours ago</span>
                        </div>
                       
                      </div>
    
                      </div>
                  
                     
                  <!--repondre a un commentaire ajoutez un bouton reply lorqu'il clique dessus cela affiche le formulaire de reponse-->
                </div>

              <!--LAISSER UN  COMMENTAIRE  SOI MEME-->
              <div class="own_comment comment_div">
                <form action="/commentPost" method="post">
                  <input type="text" name="comment" id="commentInput" placeholder=" Laissez un Commentaire">
                  <button type="submit" class="submit_btn" title="share">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M22.8555 3.44542C22.6978 3.16703 22.3962 3 22.0714 3L2.91369 3.01392C2.52859 3.01392 2.19453 3.25055 2.05997 3.60781C1.96254 3.86764 1.98574 4.14603 2.11565 4.37338C2.16669 4.45689 2.23165 4.53577 2.31052 4.60537L9.69243 10.9712L11.4927 20.5338C11.5623 20.9096 11.8499 21.188 12.2304 21.2483C12.6062 21.3086 12.9774 21.1323 13.1723 20.8029L22.8509 4.35018C23.0179 4.06715 23.0179 3.72381 22.8555 3.44542ZM4.21748 4.39194H19.8164L10.4255 9.75089L4.21748 4.39194ZM12.6248 18.9841L11.1122 10.948L20.5171 5.58436L12.6248 18.9841Z"
                        fill="var(--text-dark)" stroke="var(--text-dark)" stroke-width="0.3" />
                    </svg>
                  </button>
                </form>
              </div>
            </div>
            </div>
          </article>
        </div>
    

      <section class="side-menu">
        <div class="side-menu__user-profile">
          <a href="#" target="_blank" class="side-menu__user-avatar">
            <img src="assets/default-user.png" alt="User Picture" />
            <img src="<%= user.profile_pic %>" class="product-imagePath" alt="<%= user.username %>">
          </a>

          <div class="side-menu__user-info">
            <a href="#" target="_blank">Sabrina@37</a>
            <span>
              <%= user %>
            </span>
          </div>
          <button class="side-menu__user-button">Switch account</button>
        </div>

        <div class="side-menu__suggestions-section">
          <div class="side-menu__suggestions-header">
            <h2>Suggestions for You</h2>
            <button>See All</button>
          </div>

          <div class="side-menu__suggestions-content">
            <div class="side-menu__suggestion">
              <a href="#" class="side-menu__suggestion-avatar">
                <img src="assets/default-user.png" alt="User Picture" />
              </a>
              <div class="side-menu__suggestion-info">
                <a href="#">usernick19</a>
                <span>Followed by user1 and 3 others</span>
              </div>
              <button class="side-menu__suggestion-button">Follow</button>
            </div>

          </div>
        </div>

        <div class="side-menu__footer">
          <div class="side-menu__footer-links">
            <ul class="side-menu__footer-list">
              <li class="side-menu__footer-item">
                <a class="side-menu__footer-link" href="#">About</a>
              </li>
              <li class="side-menu__footer-item">
                <a class="side-menu__footer-link" href="#">Help</a>
              </li>
              <li class="side-menu__footer-item">
                <a class="side-menu__footer-link" href="#">Privacy</a>
              </li>
              <li class="side-menu__footer-item">
                <a class="side-menu__footer-link" href="#">Hashtag</a>
              </li>
              <li class="side-menu__footer-item">
                <a class="side-menu__footer-link" href="#">Language</a>
              </li>
            </ul>
          </div>

          <span class="side-menu__footer-copyright">&copy; 2024 kokGoat FORUM</span>
        </div>
      </section>

    </section>
  </main>


  <nav class="navbar">
    <a href="/home" class="navbar__button" title="home">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.45307 11.751L11.9773 2.02175L21.5015 11.751C21.7906 12.0463 21.9545 12.4468 21.9545 12.8711V20.4556C21.9545 20.7747 21.7037 21 21.4427 21H15.964C15.713 21 15.4721 20.7849 15.4721 20.476V15.8886C15.4721 13.9497 13.9267 12.34 11.9773 12.34C10.0279 12.34 8.48244 13.9497 8.48244 15.8886V20.476C8.48244 20.7849 8.24157 21 7.99053 21H2.51187C2.25085 21 2 20.7747 2 20.4556V12.8711C2 12.4468 2.16397 12.0463 2.45307 11.751Z"
          stroke="var(--text-dark)" stroke-width="2" />
      </svg>
    </a>

    <a href="/createTopic" class="navbar__button" title="create topic">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="3" y="3" width="18" height="18" rx="5" stroke="var(--text-dark)" stroke-width="1.8" />
        <line x1="12.1" y1="6.9" x2="12.1" y2="17.1" stroke="var(--text-dark)" stroke-width="1.8"
          stroke-linecap="round" />
        <line x1="6.9" y1="11.8" x2="17.1" y2="11.8" stroke="var(--text-dark)" stroke-width="1.8"
          stroke-linecap="round" />
      </svg>
    </a>

    <button class="navbar__button profile-button">
      <div class="profile-button__border"></div>
      <div class="profile-button__picture">
        <img src="../assets/default-user.png" alt="User Picture" />
      </div>
    </button>
  </nav>
</body>

</html>