<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil de <%= user.nameUser %></title>
</head>
<body>
    <header>
        <img src="<%= user.profilPic %>" alt="Photo de profil de <%= user.nameUser %>">
        <h1><%= user.nameUser %></h1>
        <p>Biography: <%= user.biography %></p>
        <ul>
            <li>Posts: <%= user.numPosts %></li>
            <li>Followers: <%= user.numFollowers %></li>
            <li>Following: <%= user.numFollowing %></li>
        </ul>
    </header>
    <main>
        <h2>Posts de <%= user.nameUser %></h2>
        <% user.postsUser.forEach(function(post) { %>
            <article>
                <h3><%= post.title %></h3>
                <p><%= post.description %></p>
                <p>Catégories: <%= post.categories.join(', ') %></p>
                <p>Date: <%= post.datePost %></p>
                <p>Commentaires: <%= post.numComments %></p>
                <p>Auteur: <%= post.nameUserPost %></p>
                <p>Likes: <%= post.numLikes %></p>
                <p>Dislikes: <%= post.numDislikes %></p>
                <h4>Commentaires</h4>
                <% post.allComments.forEach(function(comment) { %>
                    <div>
                        <img src="<%= comment.profilPicComment %>" alt="Photo de profil de <%= comment.nameUserComment %>">
                        <p><%= comment.comment %></p>
                        <p>Auteur: <%= comment.nameUserComment %></p>
                        <p>Date: <%= comment.dateComment %></p>
                        <p>Likes: <%= comment.numLikesComment %></p>
                    </div>
                <% }); %>
            </article>
        <% }); %>
    </main>
</body>
</html>

<!-- -- Profil de l'utilisateur

//
nameUser
Biography
numPosts
numFollowers
numFollowing 
profilPic

//POSTS DU User

postsUser
title
description
categories (tags)
datePost
numComments 
nameUserPost (l'auteur du post)
numLikes
numDislikes
allComments


//commentaire sous un post de l'utilisateur

profilPicComment
comment
nameUserComment
dateComment
numLikesComment -->